@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 100% !important; 
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  overflow-x: hidden;
}